svg {
	font-family: Sans-Serif, Arial;
}
.line {
	stroke-width: 2;
	fill: none;
}

.axis path {
	stroke: black;
}

.axis .axis-legend {
  font-size: 20px;
}

.text {
	font-size: 12px;
}

.title-text {
	font-size: 16px;
}
